Repository tyevans/knowledge-mapper: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add inferense testing ui
  .env.example
  backend/alembic/versions/20251214_add_inference_tables.py
  backend/app/core/config.py
  backend/app/eventsourcing/events/__init__.py
  backend/app/eventsourcing/events/inference.py
  backend/app/inference/__init__.py
  backend/app/inference/providers/__init__.py
  backend/app/inference/providers/base.py
  backend/app/inference/providers/factory.py
  backend/app/inference/providers/ollama.py
  backend/app/models/__init__.py
  backend/app/models/inference_provider.py
  backend/app/models/inference_request.py
  backend/app/models/tenant.py
Due: backend

fix migration
  backend/alembic/versions/20251214_add_inference_tables.py
Due: none

refactor: SOLID principles cleanup for extraction and scraping modules
  backend/app/api/routers/scraping.py
  backend/app/api/routers/scraping/__init__.py
  backend/app/api/routers/scraping/graph_query.py
  backend/app/api/routers/scraping/helpers.py
  backend/app/api/routers/scraping/job_control.py
  backend/app/api/routers/scraping/job_entities.py
  backend/app/api/routers/scraping/jobs.py
  backend/app/api/routers/scraping/pages.py
  backend/app/services/extraction/__init__.py
  backend/app/services/extraction/orchestrator.py
  backend/app/services/task_queue.py
  backend/app/tasks/extraction.py
Due: backend

simplify github workflows, other stuff (early dev)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  backend/alembic/versions/20251215_2300_add_adaptive_extraction_columns.py
  backend/alembic/versions/20251215_add_llm_openai_to_extraction_method.py
  backend/app/extraction/__init__.py
  backend/app/extraction/classifier.py
  backend/app/extraction/domains/__init__.py
  backend/app/extraction/domains/loader.py
  backend/app/extraction/domains/models.py
  backend/app/extraction/domains/registry.py
  backend/app/extraction/domains/schemas/__init__.py
  backend/app/extraction/domains/schemas/academic_research.yaml
  backend/app/extraction/domains/schemas/business_corporate.yaml
  backend/app/extraction/domains/schemas/encyclopedia_wiki.yaml
  backend/app/extraction/domains/schemas/literature_fiction.yaml
  backend/app/extraction/domains/schemas/news_journalism.yaml
  backend/app/extraction/domains/schemas/technical_documentation.yaml
  backend/app/extraction/prompt_generator.py
  backend/app/extraction/strategy_router.py
  backend/app/models/scraping_job.py
  backend/app/schemas/scraping.py
  backend/tests/integration/extraction/domains/__init__.py
  backend/tests/integration/extraction/domains/test_registry_integration.py
  backend/tests/integration/scraping/__init__.py
  backend/tests/integration/scraping/conftest.py
  backend/tests/integration/scraping/test_scraping_job_adaptive_db.py
  backend/tests/unit/extraction/domains/__init__.py
  backend/tests/unit/extraction/domains/test_loader.py
  backend/tests/unit/extraction/domains/test_models.py
  backend/tests/unit/extraction/domains/test_registry.py
  backend/tests/unit/extraction/domains/test_yaml_schemas.py
  backend/tests/unit/extraction/test_classifier.py
  backend/tests/unit/extraction/test_prompt_generator.py
  backend/tests/unit/extraction/test_strategy_router.py
  backend/tests/unit/models/test_scraping_job_adaptive.py
  backend/tests/unit/schemas/test_scraping_job_adaptive.py
Due: backend

update uv.lock
  backend/uv.lock
Due: backend

Updates
  backend/Dockerfile
  backend/app/core/context.py
  backend/app/eventsourcing/__init__.py
  backend/app/eventsourcing/aggregates/extraction.py
  backend/app/eventsourcing/events/base.py
  backend/app/eventsourcing/events/consolidation.py
  backend/app/eventsourcing/projections/neo4j_sync.py
  backend/app/eventsourcing/repositories/base.py
  backend/app/eventsourcing/stores/factory.py
  backend/pyproject.toml
  backend/tests/unit/eventsourcing/test_relationship_projection.py
  backend/uv.lock
  compose.yml
  frontend/package-lock.json
Due: backend, frontend

Apply SOLID principles and clean code refactoring
  backend/app/api/dependencies/auth.py
  backend/app/api/dependencies/auth_validators.py
  backend/app/api/routers/scraping/jobs.py
  backend/app/extraction/factory.py
  backend/app/extraction/registry.py
  backend/app/extraction/strategy_router.py
  backend/app/repositories/__init__.py
  backend/app/repositories/extraction_provider.py
Due: backend

update compose file
  compose.yml
Due: none

more updates
  backend/app/api/routers/domains.py
  backend/app/extraction/__init__.py
  backend/app/extraction/base.py
  backend/app/main.py
  backend/tests/unit/api/routers/test_domains.py
  backend/tests/unit/extraction/test_base_interface.py
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/tests/**, frontend/tests/**, frontend/src/**/*.test.ts, frontend/src/**/*.spec.ts, backend/app/core/config.py, frontend/vite.config.ts, frontend/vitest.config.ts, backend/alembic/**, frontend/src/**/*.d.ts
  frontend: any of: frontend/, but not: backend/tests/**, frontend/tests/**, frontend/src/**/*.test.ts, frontend/src/**/*.spec.ts, backend/app/core/config.py, frontend/vite.config.ts, frontend/vitest.config.ts, backend/alembic/**, frontend/src/**/*.d.ts
